<%= render partial: 'partials/company_global_nav' %>

<h3>自己PR情報</h3>
<%= image_tag @student.profile_image  %>

<% if @student.apealing_point.nil? %>
  <div>
    <p>自己PRは登録されていません</p>
  </div>
<% else %>
  <div>
    <p>
       タイトル:<%= @student.apealing_point.title %><br>
       内容:<%= @student.apealing_point.content %>
    </p>
  </div>
<% end %>

<h3>学歴</h3>
<% if @student.educational_background.nil? %>
  <div>
    <p>学歴情報は登録されていません</p>
  </div>
<% else %>
  <div>
    <p>
      所在地:<%= JpPrefecture::Prefecture.find(@student.educational_background.location).name %><br>
      学校:<%= @student.educational_background.division %><%= @student.educational_background.school_name %><br>
      入学年月〜卒業（予定）年月:<%= l(@student.educational_background.entrance_date, format: :short) %>〜<%= l(@student.educational_background.graduation_date, format: :short) %><br>
      備考:<%= @student.educational_background.note %>
    </p>
  </div>
<% end %>

<h3>課外活動</h3>
<% if @student.extracurricular_activities.nil? %>
  <p>課外活動情報は登録されていません</p>
<% else %>
  <% @student.extracurricular_activities.each do |activity| %>
    <p>
      活動:<%= activity.name %>
      活動期間:<%= l(activity.beginning_year, format: :very_short) %>
        〜
      <% if activity.ending_year.nil? %>
        現在<br>
      <% else %>
        <%= l(activity.ending_year, format: :very_short) %><br>
      <% end %>
      概要:<%= activity.summary %>
    </p>
  <% end %>
<% end %>

<h3>PR画像</h3>
<% if @student.apealing_image.nil? %>
  <p>PR画像は登録されていません</p>
<% else %>
  <div>
    <%= image_tag @student.apealing_image.profile_image_size if @student.apealing_image.image.present? %>
    <p>
      タイトル：<%= @student.apealing_image.title %><br>
      内容：<%= @student.apealing_image.content %>
    </p>
  </div>
<% end %>

<h3>PR動画</h3>
<% if @student.apealing_video.nil? %>
  <p>PR画像は登録されていません</p>
<% else %>
  <div>
    <% if @student.apealing_video.video.present? %>
      <video src="<%= rails_blob_path(@student.apealing_video.video) %>" type="video/mp4" controls width="500" height="auto"></video>
    <% end %>
    <p>
      タイトル：<%= @student.apealing_video.title %><br>
      内容：<%= @student.apealing_video.content %>
    </p>
  </div>
<% end %>

<h3>希望条件</h3>
<p>希望業界<br>
  <% if @student.conditions.where(type: 'Industry').count == 0 %>
   希望業界は登録されていません
  <% else %>
    <% @student.conditions.where(type: 'Industry').each do |industry| %>
      <%=  industry.name %> /
    <% end %>
  <% end %>
</p>

<p>希望職種<br>
  <% if @student.conditions.where(type: 'Occupation').count == 0  %>
    希望職種は登録されていません
  <% else %>
    <% @student.conditions.where(type: 'Occupation').each do |occupation| %>
      <%=  occupation.name %> /
    <% end %>
  <% end %>
</p>

<p>希望する働き方<br>
  <% if @student.conditions.where(type: 'Workstyle').count == 0  %>
    希望する働き方は登録されていません
  <% else %>
    <% @student.conditions.where(type: 'Workstyle').each do |workstyle| %>
      <%=  workstyle.name %> /
    <% end %>
  <% end %>
</p>

<p>希望勤務地<br>
  <% if @student.conditions.where(type: 'Workplace').count == 0  %>
    希望勤務地の登録はありません
  <% else %>
    <% @student.conditions.where(type: 'Workplace').each do |workplace| %>
      <%=  workplace.name %> /
    <% end %>
  <% end %>
</p>

<h3>保有資格情報</h3>
<% if @student.qualification.qualification_1st.present? %> <%= @student.qualification.qualification_1st %>  <% end %>
<% if @student.qualification.qualification_2nd.present? %> <%= @student.qualification.qualification_2nd %>  <% end %>
<% if @student.qualification.qualification_3rd.present? %> <%= @student.qualification.qualification_3rd %>  <% end %>
<% if @student.qualification.qualification_4th.present? %> <%= @student.qualification.qualification_4th %>  <% end %>
<% if @student.qualification.qualification_5th.present? %> <%= @student.qualification.qualification_5th %>  <% end %>
<br>

<% if @student.qualification.note.present? %>
  <p>コメント:<%= @student.qualification.note %></p>
<% end %>

<% if @target_list.present? %>
  <%= link_to 'Listを解除する', target_list_path(id: @target_list.id, key: 'company_show'), method: :delete %>
<% else %>
  <%= link_to 'Listに登録する', target_lists_path(student_id: @student.id, key: 'company_show'), method: :post %>
<% end %>

<% if @scout_ids.include?(@student.id) %>
  <%= link_to 'スカウト確認', scout_scout_messages_path(@student.scouts.ids, key: 'company_show') %>
<% else %>
  <%= link_to 'スカウト', new_scout_path(recruiter_id: current_recruiter.id, student_id: @student.id, key: 'company_show') %>
<% end %>
