<%= render partial: 'partials/company_global_nav' %><br>

<h3>生徒検索</h3>

<%= render 'search_form' %>

<% @result_students.each do |student| %>
<table>
  <tr>
    <td>
      <%= image_tag student.thumbnail if student.avatar.present? %>
    </td>

    <td>
      <% if student.nickname.nil? %>
        ID:<%= student.id %><br>
      <% else %>
        ニックネーム:<%= student.nickname %><br>
      <% end %>

      <% if student.educational_background.nil? %>
        高校情報はありません<br>
      <% else %>
        高校:<%= student.educational_background.school_name %><br>
      <% end %>

      <% if student.educational_background.nil? %>
        高校の所在地情報はありません。<br>
      <% else %>
        所在地:<%= JpPrefecture::Prefecture.find(student.educational_background.location).name if student.educational_background.present?  %><br>
      <% end %>

      <% if student.apealing_point.nil? %>
        自己PR情報はありません。<br>
      <% else %>
        自己PR:<%= student.apealing_point.content if student.apealing_point.present? %><br>
      <% end %>
    </td>

    <td>
      <%= link_to '詳細確認', company_show_student_path(student.id) %>
      <% if @scout_ids.include?(student.id) %>
        <%= link_to 'スカウト確認', scout_scout_messages_path(student.scouts.ids, key: 'index') %>
      <% else %>
        <%= link_to 'スカウト', new_scout_path(recruiter_id: current_recruiter.id, student_id: student.id, key: 'index') %>
      <% end %>
    </td>

    <td>
      <% if current_recruiter.target_lists.find_by(student_id: student.id).present? %>
        <%= link_to 'Listを解除する', target_list_path(id: student.target_lists.ids, key: 'index'), method: :delete %>
      <% else %>
        <%= link_to 'Listに登録する', target_lists_path(student_id: student.id, key: 'index'), method: :post %>
      <% end %>
    </td>
  </tr>
</table><br><br>
<% end %>

<%= paginate @student_pages %>
