<h2>基本情報</h2>
  <p>email<br><%= current_student.email %></p>
  <p>姓  名<br><%= current_student.family_name %>  <%= current_student.given_name %></p>
  <p>カナ姓名<br><%= current_student.family_name_kana %>  <%= current_student.given_name_kana %></p>
  <p>ニックネーム<br><%= current_student.nickname %></p>
  <p>生年月日<br><%= current_student.birth_date %></p>
  <p>email<br><%= current_student.email %></p>
  <p>性別<br><%= current_student.gender %></p>

  <%= link_to '編集', edit_student_registration_url %>
