<div class="wrapper student-wrapper container">
  <%= form_with(model: [student, extracurricular_activity], local: true) do |f| %>
    <% if extracurricular_activity.errors.any? %>
      <ul>
        <% extracurricular_activity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <% if request.path_info.include?('edit') %>
      <h3 class="heading">課外活動編集</h3>
    <% else %>
      <h3 class="heading">課外活動登録</h3>
    <% end %>
    <div class="form-group">
      <strong><%= f.label :name %></strong>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <strong><%= f.label :beginning_year %>〜<%= f.label :ending_year %></strong><br>
      <%= raw sprintf(f.date_select(:beginning_year, prompt:"--", start_year:Time.now.year, end_year:2000, discard_month:true, discard_day:true, date_separator:'%s'),'年') %>
      〜
      <%= raw sprintf(f.date_select(:ending_year, prompt:"--", start_year:Time.now.year, end_year:2000, discard_month:true, discard_day:true, date_separator:'%s'),'年') %>
    </div>

    <div class="form-group">
      <strong><%= f.label :summary %></strong>
      <%= f.text_area :summary, size: "20x10", class: "form-control" %>
    </div>
    <% f.hidden_field :student_id, value: current_student.id %>

    <% if request.path_info.include?('edit') %>
      <%= f.submit '更新', class: "rounded-btn student-btn-position" %>
    <% else %>
      <%= f.submit '登録', class: "rounded-btn student-btn-position" %>
    <% end %>
  <% end %>
</div>
