<%= form_with(model: [student, extracurricular_activity], local: true) do |f| %>
<% if extracurricular_activity.errors.any? %>
  <h2><%= extracurricular_activity.errors.count %>件のエラーがあります。</h2>
  <ul>
    <% extracurricular_activity.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <%= f.label :name %><br />
  <%= f.text_field :name %><br />

  <%= f.label :beginning_year %><br />
  <%= raw sprintf(f.date_select(:beginning_year, prompt:"--", start_year:Time.now.year, end_year:2000, discard_month:true, discard_day:true, date_separator:'%s'),'年') %><br />

  <%= f.label :ending_year %><br />
  <%= raw sprintf(f.date_select(:ending_year, prompt:"--", start_year:Time.now.year, end_year:2000, discard_month:true, discard_day:true, date_separator:'%s'),'年') %><br />

  <%= f.label :summary %><br />
  <%= f.text_area :summary %><br />
  <% f.hidden_field :student_id, value: current_student.id %>

  <% if request.path_info.include?('edit') %>
    <%= f.submit '更新' %>
  <% else %>
    <%= f.submit '登録' %>
  <% end %>
<% end %>
