<div class="wrapper educational_background-show-wrapper container">
  <h3 class="heading">課外活動詳細</h3>
  <table class="table student-table">
    <tr>
      <th>活動名</th>
      <td><%= @extracurricular_activity.name %></td>
    </tr>
    <tr>
      <th>活動期間</th>
      <td>
        <%= l(@extracurricular_activity.beginning_year, format: :very_short) %>
          〜
        <% if @extracurricular_activity.ending_year.nil? %>
          現在
        <% else %>
          <%= l(@extracurricular_activity.ending_year, format: :very_short) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>活動概要</th>
      <td><%= @extracurricular_activity.summary.nil? ? '活動未登録' : simple_format(@extracurricular_activity.summary) %></td>
    </tr>
  </table>
  <% if student_signed_in? %>
    <%= link_to '編集', edit_student_extracurricular_activity_path(current_student.id, @extracurricular_activity.id), class: "rounded-btn", if @student.id == current_student.id %>
  <% end %>
  <%= link_to '戻る', :back, class: "rounded-btn job-info-btn" %>
</div>
