<%= form_with(model: [student, qualification], url: student_qualification_path, local: true) do |f| %>
<% if qualification.errors.any? %>
  <h2><%= qualification.errors.count %>件のエラーがあります。</h2>
  <ul>
    <% qualification.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <%= f.label :qualification_1st %><br />
  <%= f.text_field :qualification_1st %><br />

  <%= f.label :qualification_2nd %><br />
  <%= f.text_field :qualification_2nd %><br />

  <%= f.label :qualification_3rd %><br />
  <%= f.text_field :qualification_3rd %><br />

  <%= f.label :qualification_4th %><br />
  <%= f.text_field :qualification_4th %><br />

  <%= f.label :qualification_5th %><br />
  <%= f.text_field :qualification_5th %><br />

  <%= f.label :note %><br />
  <%= f.text_area :note %><br />
  <% f.hidden_field :student_id, value: current_student.id %>

  <% if request.path_info.include?('edit') %>
    <%= f.submit '更新' %>
  <% else %>
    <%= f.submit '登録' %>
  <% end %>
<% end %>
