  <h3 class="heading">資格情報</h3>

  <table class="table student-table">
    <% if @qualification.qualification_1st.present? %>
      <tr>
        <th>資格名</th>
        <td><%= @qualification.qualification_1st %></td>
      </tr>
    <% end %>

    <% if @qualification.qualification_2nd.present? %>
      <tr>
        <th>資格名</th>
        <td><%= @qualification.qualification_2nd %></td>
      </tr>
    <% end %>

    <% if @qualification.qualification_3rd.present? %>
      <tr>
        <th>資格名</th>
        <td><%= @qualification.qualification_3rd %></td>
      </tr>
    <% end %>

    <% if @qualification.qualification_4th.present? %>
      <tr>
        <th>資格名</th>
        <td><%= @qualification.qualification_4th %></td>
      </tr>
    <% end %>

    <% if @qualification.qualification_5th.present? %>
      <tr>
        <th>資格名</th>
        <td><%= @qualification.qualification_5th %></td>
      </tr>
    <% end %>
    <% if @qualification.note.present? %>
      <tr>
        <th>資格取得の背景</th>
        <td><%= @qualification.note %></td>
    <% end %>
  </table>
  <div class="btn-area">
    <%= link_to '編集', edit_student_qualification_path(current_student.id), class: "rounded-btn student-btn-position" if @student.id == current_student.id %>
  </div>
