  <h3 class="heading">パスワード変更</h3>

  <div class="password-form">
    <%= form_for(resource, as: resource_name, url: update_password_path, html: { method: :put }) do |f| %>
      <%= render "recruiters/shared/error_messages", resource: resource %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field form-group">
        <strong><%= f.label :"新しいパスワード"%></strong>
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
        最低6文字入力してください
      </div>

      <div class="field form-group">
        <strong><%= f.label :password_confirmation %></strong>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="field form-group">
        <strong><%= f.label :current_password %></strong> <i>パスワード変更の際に必要です</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
      </div>

      <div class="btn-area">
        <%= f.submit "変更", class: "rounded-btn job-info-btn" %>
      </div>
    <% end %>
    <%= link_to "各種設定に戻る", settings_recruiters_path %>
  </div>
