<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: confirm_application_path) do |f| %>
  <%= render "recruiters/shared/error_messages", resource: resource %>

  <%= f.fields_for :company do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :foundation_year %>
    <%= raw sprintf(f.date_select(:foundation_year, prompt:"--", start_year:Time.now.year, end_year:1800, discard_month:true, discard_day:true, date_separator:'%s'),'年') %><br />
  </div>

  <div class="field">
    <%= f.label :capital %>
    <%= f.text_field :capital %>
  </div>

  <div class="field">
    <%= f.label :president_name %>
    <%= f.text_field :president_name %>
  </div>

  <div class="field">
    <%= f.label :number_of_employees %>
    <%= f.text_field :number_of_employees %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :department %><br />
    <%= f.text_field :department, autofocus: true, autocomplete: "department" %>
  </div>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
  </div>

  <div class="field">
    <%= f.label :family_name %><br />
    <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name" %>
  </div>

  <div class="field">
    <%= f.label :given_name %><br />
    <%= f.text_field :given_name, autofocus: true, autocomplete: "given_name" %>
  </div>

  <div class="field">
    <%= f.label :family_name_kana %><br />
    <%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana" %>
  </div>

  <div class="field">
    <%= f.label :given_name_kana %><br />
    <%= f.text_field :given_name_kana, autofocus: true, autocomplete: "given_name_kana" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :tel %><br />
    <%= f.text_field :tel, autofocus: true, autocomplete: "tel" %>
  </div>

  <div class="field">
    <%= f.label :fax %><br />
    <%= f.text_field :fax, autofocus: true, autocomplete: "tel" %>
  </div>


  <div class="actions">
    <%= f.submit "申請" %>
  </div>
<% end %>

<%= render "recruiters/shared/links" %>
