<%= render partial: 'partials/company_global_nav' %>

<h2>担当者情報</h2>
<p>icon<br>
<% if current_recruiter.avatar.attached? %>
  <%= image_tag current_recruiter.avatar %>
<% end %>
</p>
<p>所  属<br><%= current_recruiter.department %></p>
<p>役  職<br><%= current_recruiter.title %></p>
<p>姓  名<br><%= current_recruiter.family_name %>  <%= current_recruiter.given_name %></p>
<p>カナ姓名<br><%= current_recruiter.family_name_kana %>  <%= current_recruiter.given_name_kana %></p>
<p>email<br><%= current_recruiter.email %></p>
<p>tel<br><%= current_recruiter.tel %></p>
<p>fax<br><%= current_recruiter.fax %></p>

<%= link_to '担当者情報編集', edit_profile_path(current_recruiter.id) %><br>

<%= link_to "各種設定に戻る", settings_recruiters_path %>
