<nav class="navbar navbar-default fixed-top" id="h-nav">
  <a class="nabbar-brand h-nav-title mr-auto p-0">
  <a class="navbar-brand h-nav-title mr-auto p-0" href="#"><h4>Career Design Initiatives</h4></a>
  <ul class="h-nav-menu mb-0 mr-auto">
    <li class="global_nav">
      <%= link_to(recruiters_path, class: 'nav-box') do %>
        <span class="fa fa-home"></span>
        HOME
      <% end %>
    </li>
    <li class="global_nav nav-job-info">
      <%= link_to(recruiter_job_information_index_path(current_recruiter.id), class: 'nav-box') do %>
        <span class="fas fa-briefcase"></span>
        JOBS
      <% end %>
    </li>
    <li class="global_nav">
      <%= link_to(search_student_recruiters_path, class: 'nav-box-pr') do %>
        <span class="fas fa-search-plus"></span>
         SEARCH
      <% end %>
    </li>
    <li class="global_nav">
      <%= link_to(target_lists_path, class: 'nav-box') do %>
        <span class="fas fa-clipboard-list"></span>
        TARGETS
      <% end %>
    </li>
    <li class="global_nav">
      <%= link_to(scouts_path, class: 'nav-box') do %>
        <span class="far fa-envelope"></span>
        SCOUT
      <% end %>
    </li>
    <li class="global_nav">
      <%= link_to(settings_recruiters_path, class: 'nav-box') do %>
        <span class="fas fa-cogs"></span>
        SETTINGS
      <% end %>
    </li>
    <li class="global_nav">
      <%= link_to(destroy_recruiter_session_path, method: :delete, class: 'nav-box') do %>
        <span class="fas fa-sign-out-alt"></span>
        LOGOUT
      <% end %>
    </li>
  </ul>
</nav>
