<%= current_recruiter.company.name %>
<ul>
  <li><%= link_to 'HOME', home_recruiters_path %></li>
  <li><%= link_to '求人情報の登録・管理', recruiter_job_informations_path(current_recruiter.id) %></li>
  <li><%= link_to '生徒検索', students_path %></li>
  <li><%= link_to 'SCOUT', scouts_path %></li>
  <li><%= link_to 'LIST', target_lists_path %></li>
  <li><%= link_to '各種設定', settings_recruiters_path %></li>
</ul>
