<%= render partial: 'partials/global_nav' %>

<h2>高校情報</h2>

<p>学校所在地<br><%= JpPrefecture::Prefecture.find(current_student.educational_background.location).name %></p>
<p>学校区分<br><%= current_student.educational_background.division %></p>
<p>学校名<br><%= current_student.educational_background.school_name %></p>
<p>入学年月〜卒業（予定）年月<br><%= l(current_student.educational_background.entrance_date, format: :short) %>〜<%= l(current_student.educational_background.graduation_date, format: :short) %></p>
<p>備考<br><%= current_student.educational_background.note %> </p>

<%= link_to '編集', edit_student_educational_background_path(current_student.id) %>
