<h3>登録企業一覧</h3>
<table>
      <tr>
        <th>企業名</th>
        <th>所属</th>
        <th>役職</th>
        <th>氏名</th>
        <th>email</th>
        <th>承認状況</th>
        <th>アカウント状況</th>
        <th>詳細</th>
        <th>アカウント削除</th>
      </tr>
    <% @recruiters.each do |recruiter| %>
      <tr>
        <% unless recruiter.admin? %>
        <td><%= recruiter.company.name %></td>
        <td><%= recruiter.department %></td>
        <td><%= recruiter.title %></td>
        <td><%= recruiter.family_name %> <%= recruiter.given_name %></td>
        <td><%= recruiter.email %></td>
        <td><%= recruiter.approved? ? '承認' : '未承認' %></td>
        <td><%= recruiter.suspended? ? '凍結' : 'アクティブ' %></td>
        <td><%= link_to "確認", edit_admin_recruiter_path(recruiter) %></td>
        <td><%= link_to "アカウント削除", admin_recruiter_path(recruiter.id), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

<h3>登録生徒一覧</h3>
<table>
    <tr>
      <th>ID/ニックネーム</th>
      <th>email</th>
      <th>詳細</th>
      <th>アカウント状況</th>
      <th>アカウント削除</th>
    </tr>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.nickname.present? ? student.nickname : student.id %></td>
        <td><%= student.email %></td>
        <td><%= link_to "確認", edit_student_admin_recruiter_path(student) %></td>
        <td><%= student.suspended? ? '凍結' : 'アクティブ' %></td>
        <td><%= link_to "アカウント削除", destroy_student_admin_recruiter_path(student.id), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
        <% end %>
      </tr>
  </table>
