<% if job_informations.any? %>
    <% if job_informations == @open_job_informations %>
      <h4>公開中求人</h4>
    <% else %>
      <h4>準備中求人</h4>
    <% end %>
  <table>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>状況<th>
      <th colspan="2"></th>
    </tr>
      <% job_informations.each do |job_information| %>
    <tr>
      <td><%= job_information.title %></td>
      <td><%= job_information.content %></td>
      <td><%= job_information.status %></td>
      <td><%= link_to '確認', edit_recruiter_job_information_path(current_recruiter.id, job_information.id) %></td>
      <td><%= link_to '求人削除', recruiter_job_information_path(current_recruiter.id, job_information.id), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
  <% end %>
  </table>
<% end %>
