<%= form_with(model: [student, award], local: true) do |f| %>
<% if award.errors.any? %>
  <ul>
    <% award.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<% if request.path_info.include?('edit') %>
  <h3 class="heading">表彰情報編集</h3>
<% else %>
  <h3 class="heading">表彰情報登録</h3>
<% end %>

 <div class="form-group">
  <strong><%= f.label :title %></strong>
  <%= f.text_field :title, class: "form-control", id: "comment1" %>
  <p class="pull-right"><span class="count1">0</span>/ 50</P>
 </div>

 <div class="form-group">
    <strong><%= f.label :year %></strong><br>
    <%= raw sprintf(f.date_select(:year, prompt:"--", start_year:Time.now.year, end_year:2000, discard_month:true, discard_day:true, date_separator:'%s'),'年') %><br />
 </div>

 <div class="form-group">
    <strong><%= f.label :summary %></strong>
    <%= f.text_area :summary, size: "20x10", class: "form-control", id: "comment2" %>
    <p class="pull-right"><span class="count2">0</span>/ 50</P>
 </div>

  <% f.hidden_field :student_id, value: current_student.id %>

  <div class="btn-area">
  <% if request.path_info.include?('edit') %>
    <%= f.submit '更新', class: "rounded-btn student-btn-position" %>
  <% else %>
    <%= f.submit '登録', class: "rounded-btn student-btn-position" %>
  <% end %>
  </div>
<% end %>

<script>
  $(function(){
      $('#comment1,#comment2').bind('keyup',function() {
          for ( num=1; num<=2; num++ ) {
              var thisValueLength = $('#comment' + num).val().length;
              $(".count" + num).html(thisValueLength);
          }
      });
  });
</script>
