<%= render partial: 'partials/company_global_nav' %>

<%= form_with(model: [@recruiter, @company], local: true) do |f| %>
<% if @company.errors.any? %>
  <h2><%= @company.errors.count %>件のエラーがあります。</h2>
  <ul>
    <% @company.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<p>企業名：<%= current_recruiter.company.name %></p>
<p>設立年：<%= current_recruiter.company.foundation_year %></p>
<p>資本金：<%= current_recruiter.company.capital %></p>
<p>代表者名：<%= current_recruiter.company.president_name %></p>

  <%= f.label :number_of_employees %><br />
  <%= f.text_field :number_of_employees %><br />

  <%= f.label :revenue %><br />
  <%= f.text_area :revenue %><br />

  <%= f.label :url %><br />
  <%= f.text_field :url %><br />

  <%= f.label :business_outline %><br />
  <%= f.text_area :business_outline %><br />


  <% f.hidden_field :recruiter_id, value: current_recruiter.id %>

  <%= f.submit '更新' %>

<% end %>
