<%= render partial: 'partials/company_global_nav' if recruiter_signed_in? %>
<%= render partial: 'partials/global_nav' if student_signed_in? %>

<h1>企業情報</h1>
<p>企業名：<%= @company.name %></p>
<p>設立年：<%= @company.foundation_year %></p>
<p>資本金：<%= @company.capital %></p>
<p>代表者名：<%= @company.president_name %></p>
<p>従業員数：<%= @company.number_of_employees %><p>
<p>売り上げ：<%= @company.revenue %></p>
<p>企業HP：<%= @company.url %></p>
<p>事業内容：<%= @company.business_outline %></p>

<p>業界<br>
  <% @company.conditions.where(type: 'Industry').each do |industry| %>
    <%=  industry.name %> /
  <% end %>
</p>


<%= link_to '企業情報編集', edit_recruiter_company_path(current_recruiter.id) if recruiter_signed_in? %>
