<%= render partial: 'partials/company_global_nav' %>

<%= form_with(model: @scout, local: true) do |f| %>
  <% if flash[:error].present? %>
  <ul class="errors">
    <h3><%= flash[:error].count %>件のエラーがあります</h3>
    <% flash[:error].each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.fields_for :scout_messages do |message| %>
    <%= message.label :content %>
    <%= message.text_area :content %>
    <%= message.hidden_field :recruiter_id, value: current_recruiter.id if recruiter_signed_in? %>
  <% end %>
  <%= f.hidden_field :recruiter_id, value: current_recruiter.id if recruiter_signed_in? %>
  <%= f.hidden_field :student_id, value: params[:student_id] %>
  <%= f.submit '送信' %>
<% end %>
