<%= render partial: 'partials/company_global_nav' %>
<h3>ターゲットリスト</h3>

<% @targets.each do |target| %>
<table>
  <tr>
    <td><%= image_tag target.student.thumbnail if target.student.avatar.present? %></td>
    <td>
      <% if target.student.nickname.nil? %>
        ID:<%= student.id %><br>
      <% else %>
        ニックネーム:<%= target.student.nickname %><br>
      <% end %>

      <% if target.student.educational_background.nil? %>
        高校情報はありません<br>
      <% else %>
        高校:<%= target.student.educational_background.school_name %><br>
      <% end %>

      <% if target.student.educational_background.nil? %>
        高校の所在地情報はありません。<br>
      <% else %>
        所在地:<%= JpPrefecture::Prefecture.find(target.student.educational_background.location).name if target.student.educational_background.present?  %><br>
      <% end %>

      <% if target.student.apealing_point.nil? %>
        自己PR情報はありません。<br>
      <% else %>
        自己PR:<%= target.student.apealing_point.content if target.student.apealing_point.present? %><br>
      <% end %>
    </td>

    <td>
      <%= link_to '詳細確認', company_show_student_path(target.student.id) %>
      <% if @scout_ids.include?(target.student.id) %>
        <%= link_to 'スカウト確認', scout_scout_messages_path(target.student.scouts.ids) %>
      <% else %>
        <%= link_to 'スカウト', new_scout_path(recruiter_id: current_recruiter.id, student_id: target.student.id) %>
      <% end %>
    </td>

    <td>
      <% if current_recruiter.target_lists.find_by(student_id: target.student.id).present? %>
        <%= link_to 'Listを解除する', target_list_path(id: target.student.target_lists.ids, key: 'target'), method: :delete %>
      <% else %>
        <%= link_to 'Listに登録する', target_lists_path(student_id: target.student.id, key: 'target'), method: :post %>
      <% end %>
    </td>
  </tr><br><br>
</table>
<% end %>
