<%= render partial: 'partials/company_global_nav' if recruiter_signed_in? %>
<%= render partial: 'partials/global_nav' if student_signed_in? %>

<%= "企業:#{@scout.recruiter.company.name}" if student_signed_in? %>
<%= "生徒:#{@scout.student.nickname}さん" if recruiter_signed_in?%>
<%= "件名:#{@scout.title}" %>

<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>

<%= render 'message_form'%><br><br>

<% if @recruiter.company.job_informations.where(status: 1).any? %>
  <div>
    公開中求人一覧
    <table>
      <% @recruiter.company.job_informations.each do |job_information| %>
        <tr><td><%= link_to "#{job_information.title}", recruiter_job_information_path(recruiter_id: @recruiter.id, id: job_information.id) if job_information.status == '公開中' %></td></tr>
      <% end %>
    </table>
  </div><br><br>
<% end %>

<%= form_with(model: [@scout, @scout_message], local: true) do |f| %>
  <% if @scout_message.errors.any? %>
    <h2><%= @scout_message.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @scout_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.text_area :content %>
  <%= f.hidden_field :recruiter_id, value: current_recruiter.id if recruiter_signed_in? %>
  <%= f.hidden_field :student_id, value: current_student.id if student_signed_in? %>
<%= f.submit '送信' %>
<% end %>
