<%= render partial: 'partials/company_global_nav' if recruiter_signed_in? %>
<%= render partial: 'partials/global_nav' if student_signed_in? %>

送信企業：<%= link_to "#{@scout.recruiter.company.name}", recruiter_company_path(@scout.recruiter.id) if student_signed_in? %><br>
<%= "生徒:#{@scout.student.nickname}さん" if recruiter_signed_in?%><br>
<%= "件名:#{@scout.title}" %>

<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>

<%= render 'message_form'%><br><br>

  <div>
    添付求人
    <ul>
      <% @job_informations.each do |job_information| %>
        <li>
          <%= link_to "#{job_information.title}", recruiter_job_information_path(recruiter_id: @recruiter.id, id: job_information.id)  %>
        </li>
      <% end %>
  </div><br><br>

<%= form_with(model: [@scout, @scout_message], local: true) do |f| %>
  <% if @scout_message.errors.any? %>
    <h2><%= @scout_message.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @scout_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.text_area :content %>
  <%= f.hidden_field :recruiter_id, value: current_recruiter.id if recruiter_signed_in? %>
  <%= f.hidden_field :student_id, value: current_student.id if student_signed_in? %>
<%= f.submit '送信' %>
<% end %>
