<%= search_form_for @search, url: search_student_recruiters_path do |f| %>

  <div class="form-group">
    <strong><%= f.label :student, 'フリーワード検索' %></strong>
    <%= f.text_field :educational_background_school_name_or_extracurricular_activities_name_or_extracurricular_activities_summary_or_awards_title_or_awards_summary_or_apealing_point_title_or_apealing_point_content_or_apealing_video_content_or_apealing_video_title_or_apealing_image_title_or_apealing_image_content_or_qualification_qualification_1st_or_qualification_qualification_2nd_or_qualification_qualification_3rd_or_qualification_qualification_4th_or_qualification_qualification_5th_cont, placeholder: '〇〇高校や〇〇部などで検索してください', class: "form-control" %>
  </div>
  <div class="triger">
    <div class="menu-open open-btn"><strong>＋その他検索メニュー</strong></div>
    <div class="menu-close dropdown close-btn"><strong>ーメニューを閉じる</strong></div>
  </div>
  <div class="dropdown search-menue">
    <div class="form-group">
    <%= f.label :industries, '希望業界' %>
    <%= f.collection_select :industries_id_eq, Industry.all, :id, :name, { include_blank: '指定しない' }, { class: "form-control" }  %>
    <%= f.label :occupations, '希望職種' %>
    <%= f.collection_select :occupations_id_eq, Occupation.all, :id, :name, { include_blank: '指定しない' }, { class: "form-control" }  %>
    <%= f.label :workstyles, '希望する働き方' %>
    <%= f.collection_select :workstyles_id_eq, Workstyle.all, :id, :name, { include_blank: '指定しない' }, { class: "form-control" }  %>
    <%= f.label :workplaces, '希望勤務地' %>
    <%= f.collection_select :workplaces_id_eq, Workplace.all, :id, :name, { include_blank: '指定しない' }, { class: "form-control" }  %>
    </div>
  </div>
  <%= f.button(type: :submit, class: "search-btn") do %>
    この条件で検索
  <% end %>
<% end %>

<script>
  $('.dropdown').hide();
  $('.menu-open').click(function () {
    $('.search-menue').toggle();
    $(this).hide();
    $(this).next().show();
  });
  $('.menu-close').click(function () {
    $('.search-menue').toggle();
    $(this).hide();
    $(this).prev().show();
  });

</script>
