<%= render partial: 'partials/company_global_nav' %>

<div class="wrapper recruiter-wrapper">
<table class="table table-horizon">
  <tr>
    <th>スカウト残数</th>
    <th>送信数</th>
    <th>開封数</th>
    <th>開封率</th>
  </tr>
  <tr>
    <td><%= 50 - @scouts.all.count %></td>
    <td><%= sends = @scouts.all.count %></td>
    <td><%= read = @scouts.where(read_unread: true).count %></td>
    <td>
      <% if @scouts.all.count > 0 %>
        <%= ((read / sends.to_f) * 100).round(1) %>%
      <% else %>
        ー
      <% end %>
    </td>
  </tr>
</table>

<%= render partial: 'partials/notification_nav' %>
