<!DOCTYPE html>
<html>
  <head>
    <title>CareerDesignInitiatives</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navigation">
      <header>
        <% if student_signed_in? %>
          <li><%= link_to "ログアウト", destroy_student_session_path, method: :delete, class: "log_out" %></li>
        <% else %>
          <li><%= link_to "ログイン", new_student_session_path, class: "log_in" %></li>
          <li><%= link_to "新規登録", new_student_registration_path, class: "sign_in" %></li>
        <% end %>
        <% if recruiter_signed_in? %>
          <li><%= link_to "企業ログアウト", destroy_recruiter_session_path, method: :delete, class: "log_out" %></li>
        <% else %>
          <li><%= link_to "企業ログイン", new_recruiter_session_path, class: "log_in" %></li>
          <li><%= link_to "企業新規登録", new_recruiter_registration_path, class: "sign_in" %></li>
        <% end %>
      </header>
      <%= yield %>
  </body>
</html>
