<!DOCTYPE html>
<html>
  <head>
    <title>CareerDesignInitiatives</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <div class="container-fluid center-block">
      <% unless request.path_info.include?('scout') %>
      <% flash.each do |message_type, message| %>
        <div><%= message %></div>
      <% end %>
      <% end %>
      <%= yield %>
  </body>
</html>
