<%= render partial: 'partials/global_nav' if student_signed_in? %>
<%= devise_error_messages %>
<div class="wrapper student-edit-wrapper container pull-center">
  <h3>基本情報編集</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="form-group form-inline">
    <strong><%= f.label :avatar %></strong>
    <%= f.file_field :avatar, class: "form-control-file" %>
  </div>

  <div class="form-group">
    <strong><%= f.label :"氏名" %></strong>
    <div class="form-inline">
      <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name", class: "form-control inline-form form-before" %>
      <%= f.text_field :given_name, autofocus: true, autocomplete: "given_name", class: "form-control inline-form form-after"  %>
    </div>
  </div>

  <div class="form-group">
    <strong><%= f.label :"カナ氏名" %></strong>
    <div class="form-inline">
      <%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana", class: "form-control inline-form form-before", placeholder: "カタカナかひらがなで入力"  %>
      <%= f.text_field :given_name_kana, autofocus: true, autocomplete: "given_name_kana", class: "form-control inline-form form-after", placeholder: "カタカナかひらがなで入力"   %>
    </div>
  </div>

  <div class="form-group">
    <strong><%= f.label :email %></strong>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control normal-form"  %>
  </div>

  <div class="form-group">
    <strong><%= f.label :tel %></strong>
    <%= f.text_field :tel, autofocus: true, autocomplete: "tel", class: "form-control normal-form"  %>
  </div>

  <div class="form-group">
    <strong><%= f.label :nickname %></strong>
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "form-control normal-form" %>
  </div>

  <div calss="form-group">
    <strong><%= f.label :birth_date %></strong>
    <%= f.date_field :birth_date, class: "form-control normal-form" %>
  </div>

  <div class="form-group">
    <strong><%= f.label :gender %></strong>
    <%= f.select :gender, Student.genders.keys, {prompt: "選択してください"}, {class: "form-control normal-form"} %>
  </div>

  <div class="title">
    <strong><%= f.label :"希望業界" %></strong><br>
    <div class="checkbox">
      <%= f.collection_check_boxes(:condition_ids, Industry.all, :id, :name, { class: "checkbox" }) do |b| %>
        <%= b.label { b.check_box + b.text } %>
      <% end %>
    </div>
  </div>

  <div class="title">
    <strong><%= f.label :"希望職種" %></strong><br>
    <div class="checkbox">
      <%= f.collection_check_boxes(:condition_ids, Occupation.all, :id, :name) do |b| %>
        <%= b.label { b.check_box + b.text } %>
      <% end %>
    </div>
  </div>

  <div class="title">
    <strong><%= f.label :"希望する働き方" %></strong><br>
    <div class="checkbox">
      <%= f.collection_check_boxes(:condition_ids, Workstyle.all, :id, :name) do |b| %>
        <%= b.label { b.check_box + b.text } %>
      <% end %>
    </div>
  </div>

  <div class="title">
    <strong><%= f.label :"希望勤務地" %></strong><br>
    <div class="checkbox">
      <%= f.collection_check_boxes(:condition_ids, Industry.all, :id, :name) do |b| %>
        <%= b.label { b.check_box + b.text } %>
      <% end %>
    </div>
  </div>

  <div class="text-center">
    <%= f.submit '情報更新', class: 'rounded-btn'%>
  </div>
<% end %>
</div>
